apscheduler==3.11.1 ; python_version >= "3.12" and python_version < "4.0"
asgiref==3.10.0 ; python_version >= "3.12" and python_version < "4.0"
asttokens==3.0.0 ; python_version >= "3.12" and python_version < "4.0"
black==25.9.0 ; python_version >= "3.12" and python_version < "4.0"
click==8.3.0 ; python_version >= "3.12" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
crispy-bootstrap5==2025.6 ; python_version >= "3.12" and python_version < "4.0"
decorator==5.2.1 ; python_version >= "3.12" and python_version < "4.0"
django-apscheduler==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
django-countries==7.6.1 ; python_version >= "3.12" and python_version < "4.0"
django-crispy-forms==2.4 ; python_version >= "3.12" and python_version < "4.0"
django-extensions==4.1 ; python_version >= "3.12" and python_version < "4.0"
django-phonenumber-field==8.3.0 ; python_version >= "3.12" and python_version < "4.0"
django==5.2.7 ; python_version >= "3.12" and python_version < "4.0"
executing==2.2.1 ; python_version >= "3.12" and python_version < "4.0"
faker==37.12.0 ; python_version >= "3.12" and python_version < "4.0"
flake8==7.3.0 ; python_version >= "3.12" and python_version < "4.0"
fuzzywuzzy==0.18.0 ; python_version >= "3.12" and python_version < "4.0"
ipython-pygments-lexers==1.1.1 ; python_version >= "3.12" and python_version < "4.0"
ipython==9.6.0 ; python_version >= "3.12" and python_version < "4.0"
isort==7.0.0 ; python_version >= "3.12" and python_version < "4.0"
jedi==0.19.2 ; python_version >= "3.12" and python_version < "4.0"
matplotlib-inline==0.2.1 ; python_version >= "3.12" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
mypy-extensions==1.1.0 ; python_version >= "3.12" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.12" and python_version < "4.0"
parso==0.8.5 ; python_version >= "3.12" and python_version < "4.0"
pathspec==0.12.1 ; python_version >= "3.12" and python_version < "4.0"
pexpect==4.9.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
phonenumbers==9.0.17 ; python_version >= "3.12" and python_version < "4.0"
pillow==12.0.0 ; python_version >= "3.12" and python_version < "4.0"
platformdirs==4.5.0 ; python_version >= "3.12" and python_version < "4.0"
poetry-core==2.2.1 ; python_version >= "3.12" and python_version < "4.0"
prompt-toolkit==3.0.52 ; python_version >= "3.12" and python_version < "4.0"
psycopg2-binary==2.9.11 ; python_version >= "3.12" and python_version < "4.0"
ptyprocess==0.7.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pure-eval==0.2.3 ; python_version >= "3.12" and python_version < "4.0"
pycodestyle==2.14.0 ; python_version >= "3.12" and python_version < "4.0"
pyflakes==3.4.0 ; python_version >= "3.12" and python_version < "4.0"
pygments==2.19.2 ; python_version >= "3.12" and python_version < "4.0"
python-dotenv==1.2.1 ; python_version >= "3.12" and python_version < "4.0"
pytokens==0.2.0 ; python_version >= "3.12" and python_version < "4.0"
redis==7.0.1 ; python_version >= "3.12" and python_version < "4.0"
sqlparse==0.5.3 ; python_version >= "3.12" and python_version < "4.0"
stack-data==0.6.3 ; python_version >= "3.12" and python_version < "4.0"
traitlets==5.14.3 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2025.2 ; python_version >= "3.12" and python_version < "4.0"
tzlocal==5.3.1 ; python_version >= "3.12" and python_version < "4.0"
wcwidth==0.2.14 ; python_version >= "3.12" and python_version < "4.0"
