{% load static %}

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            MessageCraft
            <small class="d-block mb-3 text-muted">&copy; 2023</small>
        </div>
        <div class="col-6 col-md">
            <h5><a class="text-muted" href="#">Ваши рассылки</a></h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{% url 'campaigns:campaigns_list' %}">Ваша рассылка</a></li>
                <li><a class="text-muted" href="{% url 'clients:clients_list' %}">Ваши клиенты</a></li>
                <li><a class="text-muted" href="{% url 'mailings:mailings_list' %}">Сообщения</a></li>
                {% if not perms.users.can_block_users %}
                    <li><a class="text-muted" href="{% url 'reports:user_dashboard' %}">Личная статистика</a></li>
                {% endif %}
                <li><a class="text-muted" href="{% url 'reports:campaign_report' %}">Персональный отчет</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>О нас</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{% url 'reports:home' %}#stats">Общая статистика</a></li>
                <li><a class="text-muted" href="{% url "reports:contacts" %}">Контакты</a></li>
                <li><a class="text-muted" href="{% url "reports:contacts" %}">Обратная связь</a></li>
            </ul>
        </div>
    </div>
</footer>
