{% extends "base.html" %}
{% block content %}
<div class="container mt-5 text-center">
  <div class="card shadow-sm p-5 mx-auto" style="max-width: 480px; border-radius: 1rem;">
    <h3 class="text-success fw-bold mb-3">Письмо отправлено!</h3>
    <p>Мы отправили ссылку для восстановления пароля на указанный адрес</p>
    <p class="text-muted">Проверьте почту (и папку “Спам”).</p>
    <a href="{% url 'users:login' %}" class="btn btn-outline-success mt-3">Вернуться к входу</a>
  </div>
</div>
{% endblock %}
